<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/app/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/app/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/app/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/app/bootstrap/dist/css/bootstrap.min.css">
    <!-- endinject -->
</head>

<body ng-controller="MovieController as mCtrl">
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <div class="jumbotron text-center">
        <h1 style="color: purple;">Welcome to Movie Search</h1>
        <div>
            <br>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="mCtrl.searchInput">
                    <button ng-click="mCtrl.inputResults(mCtrl.searchInput)" type="submit" class="btn btn-default">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div style="background-color: lightslategrey; color: white;" class="jumbotron text-center">
        <!-- <table ng-repeat="movie in mCtrl.movieData.Search" class="table" width="80%">
			<tr>
				<td>{{movie.Title}}</td> -->
        <div class="container">
            <div class="row">
                <div ng-repeat="movie in mCtrl.movieData.Search" class="col-lg-3">
                    <div style="height: 425px;" class=panel-body>
                    	<h3 style="font-size: 18px;">{{movie.Title}}</h3>
                        <img src="{{movie.Poster}}" alt="No Image Available" height="250" width="160">
                        <br>
                        <br>
                        <p style="font-size: 12px;">{{movie.Year}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pre>{{mCtrl | json}}</pre>
    <!-- inject:js -->
    <script src="/app/app.js"></script>
    <script src="/app/movie.controller.js"></script>
    <script src="/app/movie.detail.controller.js"></script>
    <script src="/app/movie.factory.js"></script>
    <!-- endinject -->
</body>

</html>
